In [1]:
import pandas as pd

In [2]:
# calibration logs restarts

In [7]:
df = pd.read_csv( 'calibration.log',header=None ,on_bad_lines='skip')
df2 = df[0]
prefixes = ['2022-06-18', '2022-06-19', '2022-06-20' ]
df3 = df2[df2.str.startswith(tuple(prefixes))]
df4 = df3.str.split(' ', expand=True)
df4.columns = ["date", "time", "2", "3",  "4",  "5", "stored" , "7" , "mozaic" , "9", "10", "11" ,"12", "fcuk", "14" ]
df4['date'] =df4["date"] + " " + df4['time']
df8 = df4[(df4['stored'] == 'Mosaic')]
df9 = df8.drop_duplicates(subset=['fcuk'])
cal_rest = df9[['date', 'mozaic', 'fcuk']]
cal_rest

                          date mozaic     fcuk
60712  2022-06-18 19:22:51.192    120  126.395
60717  2022-06-18 20:42:20.340    104  121.132
60722  2022-06-18 21:09:01.184    128  120.968
60727  2022-06-18 22:11:36.909    107  121.885
60732  2022-06-19 01:19:24.403    122  120.406
60737  2022-06-19 02:21:30.669    128   120.37
60742  2022-06-19 02:55:07.431    107  122.289
60747  2022-06-19 03:28:34.982    131   121.24
60752   2022-06-19 03:59:33.40    104  120.179
60757  2022-06-19 04:21:23.870    128  120.167
60762  2022-06-19 04:38:16.916    128  120.164
60767  2022-06-19 04:54:23.941    128  120.921

In [8]:
# gatway log parse

In [122]:
df = pd.read_csv( 'gateway.log',header=None ,on_bad_lines='skip')
df2 = df[0]
prefixes = ['2022-06-18', '2022-06-19', '2022-06-20' ]

df3 = df2[df2.str.startswith(tuple(prefixes))]
df4 = df3.str.split(' ', expand=True)
df4.columns = ["date", "time", "2", "3",  "4",  "5", "stored" , "7" , "8" , "mozaic", "10", "11" ,"12", "13", "14" ]
df4['date'] =df4["date"] + " " + df4['time']
gateway = df4[(df4['stored'] == 'Stored') & (df4['mozaic'] != 'from')]
gateway['dt'] = pd.to_datetime(gateway['date'])
gateway

C:\Users\Dell\AppData\Local\Temp\ipykernel_2336\1600310192.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gateway['dt'] = pd.to_datetime(gateway['date'])

,date,time,2,3,4,5,stored,7,8,mozaic,10,11,12,13,14,dt
689032,2022-06-18 00:00:01.365,00:00:01.365,INFO,run_gateway,-,process_data:,Stored,image,from,127.,None,None,None,None,None,2022-06-18 00:00:01.365
689035,2022-06-18 00:00:03.348,00:00:03.348,INFO,run_gateway,-,process_data:,Stored,image,from,131.,None,None,None,None,None,2022-06-18 00:00:03.348
689039,2022-06-18 00:00:05.347,00:00:05.347,INFO,run_gateway,-,process_data:,Stored,image,from,132.,None,None,None,None,None,2022-06-18 00:00:05.347
689040,2022-06-18 00:00:06.341,00:00:06.341,INFO,run_gateway,-,process_data:,Stored,image,from,126.,None,None,None,None,None,2022-06-18 00:00:06.341
689045,2022-06-18 00:00:09.353,00:00:09.353,INFO,run_gateway,-,process_data:,Stored,image,from,130.,None,None,None,None,None,2022-06-18 00:00:09.353
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1036963,2022-06-20 10:01:30.948,10:01:30.948,INFO,run_gateway,-,process_data:,Stored,image,from,124.,None,None,None,None,None,2022-06-20 10:01:30.948
1036972,2022-06-20 10:01:37.530,10:01:37.530,INFO,run_gateway,-,process_data:,Stored,image,from,104.,None,None,None,None,None,2022-06-20 10:01:37.530
1036982,2022-06-20 10:01:45.165,10:01:45.165,INFO,run_gateway,-,process_data:,Stored,image,from,106.,None,None,None,None,None,2022-06-20 10:01:45.165
1036997,2022-06-20 10:01:56.157,10:01:56.157,INFO,run_gateway,-,process_data:,Stored,image,from,107.,None,None,None,None,None,2022-06-20 10:01:56.157
1036998,2022-06-20 10:01:58.390,10:01:58.390,INFO,run_gateway,-,process_data:,Stored,image,from,127.,None,None,None,None,None,2022-06-20 10:01:58.390

In [11]:
# mozaik 104 check

In [13]:
df104 = gateway[(gateway['mozaic'] == '104.')]
df104 = df104[['date', 'time', 'mozaic']]
df104

                            date          time mozaic
689077   2022-06-18 00:00:29.415  00:00:29.415   104.
689153   2022-06-18 00:01:05.749  00:01:05.749   104.
689227   2022-06-18 00:01:42.567  00:01:42.567   104.
689297   2022-06-18 00:02:18.973  00:02:18.973   104.
689370   2022-06-18 00:02:54.676  00:02:54.676   104.
...                          ...           ...    ...
1036206  2022-06-20 09:53:05.619  09:53:05.619   104.
1036338  2022-06-20 09:54:48.022  09:54:48.022   104.
1036679  2022-06-20 09:58:12.787  09:58:12.787   104.
1036815  2022-06-20 09:59:55.163  09:59:55.163   104.
1036972  2022-06-20 10:01:37.530  10:01:37.530   104.

[3023 rows x 3 columns]

In [14]:
df104['dt'] = pd.to_datetime(df104['date'])
df104['date_diff'] = df104['dt'].diff()

In [19]:
df104.describe()

                       date_diff
count                       3022
mean   0 days 00:01:09.115855393
std    0 days 00:00:41.657658145
min       0 days 00:00:11.886000
25%       0 days 00:00:36.129000
50%       0 days 00:00:57.102000
75%       0 days 00:01:42.336000
max       0 days 00:05:12.555000

In [15]:
df104check = df104[(df104['date_diff'] > '0 days 00:02:00.00')]

In [16]:
df104check

,date,time,mozaic,dt,date_diff
825136,2022-06-18 19:31:06.944,19:31:06.944,104.,2022-06-18 19:31:06.944,0 days 00:02:03.366000
834430,2022-06-18 20:47:39.288,20:47:39.288,104.,2022-06-18 20:47:39.288,0 days 00:02:28.417000
866877,2022-06-19 01:50:52.324,01:50:52.324,104.,2022-06-19 01:50:52.324,0 days 00:02:05.219000
867321,2022-06-19 01:55:04.130,01:55:04.130,104.,2022-06-19 01:55:04.130,0 days 00:02:06.639000
870082,2022-06-19 02:22:11.187,02:22:11.187,104.,2022-06-19 02:22:11.187,0 days 00:02:06.698000
...,...,...,...,...,...
1032816,2022-06-20 09:13:51.212,09:13:51.212,104.,2022-06-20 09:13:51.212,0 days 00:03:26.955000
1033849,2022-06-20 09:25:49.992,09:25:49.992,104.,2022-06-20 09:25:49.992,0 days 00:03:26.976000
1034610,2022-06-20 09:34:19.655,09:34:19.655,104.,2022-06-20 09:34:19.655,0 days 00:03:24.720000
1035029,2022-06-20 09:39:26.750,09:39:26.750,104.,2022-06-20 09:39:26.750,0 days 00:03:26.962000
1036679,2022-06-20 09:58:12.787,09:58:12.787,104.,2022-06-20 09:58:12.787,0 days 00:03:24.765000

In [ ]:
df104check.to_csv('check104.csv')

In [21]:
# 1 date check 2022-06-18 19:22:51.192

In [51]:
check1 = gateway[(gateway['date'] < '2022-06-18 19:22:51.192') & (gateway['date'] > '2022-06-18 19:20:51.192') 
          & (gateway['stored'] == 'Stored') & (gateway['mozaic'] != 'from')]
check1 = check1.sort_values(['mozaic', 'date'],  ascending = [True, True])
check1 = check1[['dt', 'mozaic']]
check1
check1['date_diff'] = check1['dt'].diff()
check1

                            dt mozaic                date_diff
824089 2022-06-18 19:21:32.826   104.                      NaT
824157 2022-06-18 19:22:08.959   104.   0 days 00:00:36.133000
824026 2022-06-18 19:21:00.265   106. -1 days +23:58:51.306000
824095 2022-06-18 19:21:35.842   106.   0 days 00:00:35.577000
824164 2022-06-18 19:22:12.221   106.   0 days 00:00:36.379000
824029 2022-06-18 19:21:02.810   107. -1 days +23:58:50.589000
824100 2022-06-18 19:21:38.829   107.   0 days 00:00:36.019000
824167 2022-06-18 19:22:15.014   107.   0 days 00:00:36.185000
824131 2022-06-18 19:21:58.880   120. -1 days +23:59:43.866000
824204 2022-06-18 19:22:35.980   120.   0 days 00:00:37.100000
824077 2022-06-18 19:21:25.845   121. -1 days +23:58:49.865000
824139 2022-06-18 19:22:02.011   121.   0 days 00:00:36.166000
824206 2022-06-18 19:22:37.968   121.   0 days 00:00:35.957000
824125 2022-06-18 19:21:53.853   122. -1 days +23:59:15.885000
824195 2022-06-18 19:22:29.945   122.   0 days 00:00:36.092000
824127 2022-06-18 19:21:55.898   123. -1 days +23:59:25.953000
824198 2022-06-18 19:22:31.956   123.   0 days 00:00:36.058000
824084 2022-06-18 19:21:29.838   124. -1 days +23:58:57.882000
824153 2022-06-18 19:22:07.022   124.   0 days 00:00:37.184000
824044 2022-06-18 19:21:10.805   126. -1 days +23:59:03.783000
824110 2022-06-18 19:21:45.880   126.   0 days 00:00:35.075000
824181 2022-06-18 19:22:21.935   126.   0 days 00:00:36.055000
824030 2022-06-18 19:21:03.796   127. -1 days +23:58:41.861000
824101 2022-06-18 19:21:39.890   127.   0 days 00:00:36.094000
824170 2022-06-18 19:22:16.200   127.   0 days 00:00:36.310000
824006 2022-06-18 19:20:52.095   128. -1 days +23:58:35.895000
824081 2022-06-18 19:21:27.834   128.   0 days 00:00:35.739000
824212 2022-06-18 19:22:39.974   128.   0 days 00:01:12.140000
824053 2022-06-18 19:21:15.550   129. -1 days +23:58:35.576000
824119 2022-06-18 19:21:50.866   129.   0 days 00:00:35.316000
824190 2022-06-18 19:22:26.958   129.   0 days 00:00:36.092000
824046 2022-06-18 19:21:11.885   130. -1 days +23:58:44.927000
824114 2022-06-18 19:21:47.859   130.   0 days 00:00:35.974000
824185 2022-06-18 19:22:23.911   130.   0 days 00:00:36.052000
824035 2022-06-18 19:21:06.301   131. -1 days +23:58:42.390000
824104 2022-06-18 19:21:41.857   131.   0 days 00:00:35.556000
824173 2022-06-18 19:22:18.233   131.   0 days 00:00:36.376000
824107 2022-06-18 19:21:43.847   132. -1 days +23:59:25.614000

In [52]:
check1.to_csv('check1.csv')

In [53]:
check1.mozaic.nunique()

15

In [54]:
# 2 date check 2022-06-18 20:42:20.340

In [56]:
check2 = gateway[(gateway['date'] < '2022-06-18 20:42:20.340') & (gateway['date'] > '2022-06-18 20:40:20.3402') 
          & (gateway['stored'] == 'Stored') & (gateway['mozaic'] != 'from')]
check2 = check2.sort_values(['mozaic', 'date'],  ascending = [True, True])
check2 = check2[['dt', 'mozaic']]
check2['date_diff'] = check2['dt'].diff()
check2

                            dt mozaic                date_diff
833727 2022-06-18 20:40:37.704   104.                      NaT
833810 2022-06-18 20:41:18.368   104.   0 days 00:00:40.664000
833877 2022-06-18 20:41:59.059   104.   0 days 00:00:40.691000
833815 2022-06-18 20:41:22.648   106. -1 days +23:59:23.589000
833885 2022-06-18 20:42:04.473   106.   0 days 00:00:41.825000
833820 2022-06-18 20:41:26.019   107. -1 days +23:59:21.546000
833890 2022-06-18 20:42:07.796   107.   0 days 00:00:41.777000
833709 2022-06-18 20:40:26.630   120. -1 days +23:58:18.834000
833779 2022-06-18 20:41:08.448   120.   0 days 00:00:41.818000
833864 2022-06-18 20:41:50.236   120.   0 days 00:00:41.788000
833713 2022-06-18 20:40:28.847   121. -1 days +23:58:38.611000
833781 2022-06-18 20:41:09.513   121.   0 days 00:00:40.666000
833866 2022-06-18 20:41:51.357   121.   0 days 00:00:41.844000
833701 2022-06-18 20:40:22.206   122. -1 days +23:58:30.849000
833770 2022-06-18 20:41:02.948   122.   0 days 00:00:40.742000
833853 2022-06-18 20:41:43.645   122.   0 days 00:00:40.697000
833707 2022-06-18 20:40:24.429   123. -1 days +23:58:40.784000
833774 2022-06-18 20:41:05.121   123.   0 days 00:00:40.692000
833857 2022-06-18 20:41:45.843   123.   0 days 00:00:40.722000
833726 2022-06-18 20:40:36.547   124. -1 days +23:58:50.704000
833808 2022-06-18 20:41:17.281   124.   0 days 00:00:40.734000
833876 2022-06-18 20:41:57.953   124.   0 days 00:00:40.672000
833759 2022-06-18 20:40:55.215   126. -1 days +23:58:57.262000
833844 2022-06-18 20:41:37.014   126.   0 days 00:00:41.799000
833920 2022-06-18 20:42:17.711   126.   0 days 00:00:40.697000
833745 2022-06-18 20:40:46.355   127. -1 days +23:58:28.644000
833822 2022-06-18 20:41:27.143   127.   0 days 00:00:40.788000
833891 2022-06-18 20:42:08.875   127.   0 days 00:00:41.732000
833718 2022-06-18 20:40:32.140   128. -1 days +23:58:23.265000
833801 2022-06-18 20:41:12.831   128.   0 days 00:00:40.691000
833871 2022-06-18 20:41:54.652   128.   0 days 00:00:41.821000
833768 2022-06-18 20:41:00.739   129. -1 days +23:59:06.087000
833850 2022-06-18 20:41:41.448   129.   0 days 00:00:40.709000
833766 2022-06-18 20:40:59.629   130. -1 days +23:59:18.181000
833849 2022-06-18 20:41:40.341   130.   0 days 00:00:40.712000
833752 2022-06-18 20:40:50.772   131. -1 days +23:59:10.431000
833835 2022-06-18 20:41:32.636   131.   0 days 00:00:41.864000
833914 2022-06-18 20:42:13.327   131.   0 days 00:00:40.691000
833758 2022-06-18 20:40:54.130   132. -1 days +23:58:40.803000
833842 2022-06-18 20:41:35.933   132.   0 days 00:00:41.803000
833919 2022-06-18 20:42:16.594   132.   0 days 00:00:40.661000

In [60]:
check2.mozaic.nunique()

15

In [58]:
# 3 date check 2022-06-18 21:09:01.184

In [64]:
check3 = gateway[(gateway['date'] < '2022-06-18 21:09:01.184') & (gateway['date'] > '2022-06-18 21:07:01.184') 
          & (gateway['stored'] == 'Stored') & (gateway['mozaic'] != 'from')]
check3 = check3.sort_values(['mozaic', 'date'],  ascending = [True, True])
check3 = check3[['dt', 'mozaic']]
check3['date_diff'] = check3['dt'].diff()
check3

                            dt mozaic                date_diff
836849 2022-06-18 21:08:24.070   104.                      NaT
836850 2022-06-18 21:08:25.278   106.   0 days 00:00:01.208000
836781 2022-06-18 21:07:43.338   107. -1 days +23:59:18.060000
836855 2022-06-18 21:08:28.877   107.   0 days 00:00:45.539000
836734 2022-06-18 21:07:25.294   120. -1 days +23:58:56.417000
836829 2022-06-18 21:08:10.844   120.   0 days 00:00:45.550000
836931 2022-06-18 21:08:57.503   120.   0 days 00:00:46.659000
836736 2022-06-18 21:07:26.545   121. -1 days +23:58:29.042000
836832 2022-06-18 21:08:13.288   121.   0 days 00:00:46.743000
836935 2022-06-18 21:08:59.912   121.   0 days 00:00:46.624000
836723 2022-06-18 21:07:18.118   122. -1 days +23:58:18.206000
836817 2022-06-18 21:08:04.863   122.   0 days 00:00:46.745000
836922 2022-06-18 21:08:51.527   122.   0 days 00:00:46.664000
836730 2022-06-18 21:07:22.953   123. -1 days +23:58:31.426000
836826 2022-06-18 21:08:08.441   123.   0 days 00:00:45.488000
836926 2022-06-18 21:08:53.903   123.   0 days 00:00:45.462000
836763 2022-06-18 21:07:34.929   124. -1 days +23:58:41.026000
836845 2022-06-18 21:08:21.674   124.   0 days 00:00:46.745000
836711 2022-06-18 21:07:08.705   126. -1 days +23:58:47.031000
836800 2022-06-18 21:07:56.448   126.   0 days 00:00:47.743000
836910 2022-06-18 21:08:43.119   126.   0 days 00:00:46.671000
836785 2022-06-18 21:07:45.738   127. -1 days +23:59:02.619000
836861 2022-06-18 21:08:32.493   127.   0 days 00:00:46.755000
836743 2022-06-18 21:07:31.326   128. -1 days +23:58:58.833000
836837 2022-06-18 21:08:16.887   128.   0 days 00:00:45.561000
836720 2022-06-18 21:07:15.711   129. -1 days +23:58:58.824000
836814 2022-06-18 21:08:02.452   129.   0 days 00:00:46.741000
836919 2022-06-18 21:08:49.113   129.   0 days 00:00:46.661000
836715 2022-06-18 21:07:12.095   130. -1 days +23:58:22.982000
836805 2022-06-18 21:07:58.847   130.   0 days 00:00:46.752000
836914 2022-06-18 21:08:45.496   130.   0 days 00:00:46.649000
836700 2022-06-18 21:07:01.477   131. -1 days +23:58:15.981000
836788 2022-06-18 21:07:48.136   131.   0 days 00:00:46.659000
836899 2022-06-18 21:08:34.876   131.   0 days 00:00:46.740000
836705 2022-06-18 21:07:05.068   132. -1 days +23:58:30.192000
836792 2022-06-18 21:07:50.547   132.   0 days 00:00:45.479000
836902 2022-06-18 21:08:37.317   132.   0 days 00:00:46.770000

In [65]:
check3.mozaic.nunique()

15

In [66]:
# 4 date check 2022-06-18 22:11:36.909

In [67]:
check4 = gateway[(gateway['date'] < '2022-06-18 21:09:01.184') & (gateway['date'] > '2022-06-18 21:07:01.184') 
          & (gateway['stored'] == 'Stored') & (gateway['mozaic'] != 'from')]
check4 = check4.sort_values(['mozaic', 'date'],  ascending = [True, True])
check4 = check4[['dt', 'mozaic']]
check4['date_diff'] = check4['dt'].diff()
check4

                            dt mozaic                date_diff
836849 2022-06-18 21:08:24.070   104.                      NaT
836850 2022-06-18 21:08:25.278   106.   0 days 00:00:01.208000
836781 2022-06-18 21:07:43.338   107. -1 days +23:59:18.060000
836855 2022-06-18 21:08:28.877   107.   0 days 00:00:45.539000
836734 2022-06-18 21:07:25.294   120. -1 days +23:58:56.417000
836829 2022-06-18 21:08:10.844   120.   0 days 00:00:45.550000
836931 2022-06-18 21:08:57.503   120.   0 days 00:00:46.659000
836736 2022-06-18 21:07:26.545   121. -1 days +23:58:29.042000
836832 2022-06-18 21:08:13.288   121.   0 days 00:00:46.743000
836935 2022-06-18 21:08:59.912   121.   0 days 00:00:46.624000
836723 2022-06-18 21:07:18.118   122. -1 days +23:58:18.206000
836817 2022-06-18 21:08:04.863   122.   0 days 00:00:46.745000
836922 2022-06-18 21:08:51.527   122.   0 days 00:00:46.664000
836730 2022-06-18 21:07:22.953   123. -1 days +23:58:31.426000
836826 2022-06-18 21:08:08.441   123.   0 days 00:00:45.488000
836926 2022-06-18 21:08:53.903   123.   0 days 00:00:45.462000
836763 2022-06-18 21:07:34.929   124. -1 days +23:58:41.026000
836845 2022-06-18 21:08:21.674   124.   0 days 00:00:46.745000
836711 2022-06-18 21:07:08.705   126. -1 days +23:58:47.031000
836800 2022-06-18 21:07:56.448   126.   0 days 00:00:47.743000
836910 2022-06-18 21:08:43.119   126.   0 days 00:00:46.671000
836785 2022-06-18 21:07:45.738   127. -1 days +23:59:02.619000
836861 2022-06-18 21:08:32.493   127.   0 days 00:00:46.755000
836743 2022-06-18 21:07:31.326   128. -1 days +23:58:58.833000
836837 2022-06-18 21:08:16.887   128.   0 days 00:00:45.561000
836720 2022-06-18 21:07:15.711   129. -1 days +23:58:58.824000
836814 2022-06-18 21:08:02.452   129.   0 days 00:00:46.741000
836919 2022-06-18 21:08:49.113   129.   0 days 00:00:46.661000
836715 2022-06-18 21:07:12.095   130. -1 days +23:58:22.982000
836805 2022-06-18 21:07:58.847   130.   0 days 00:00:46.752000
836914 2022-06-18 21:08:45.496   130.   0 days 00:00:46.649000
836700 2022-06-18 21:07:01.477   131. -1 days +23:58:15.981000
836788 2022-06-18 21:07:48.136   131.   0 days 00:00:46.659000
836899 2022-06-18 21:08:34.876   131.   0 days 00:00:46.740000
836705 2022-06-18 21:07:05.068   132. -1 days +23:58:30.192000
836792 2022-06-18 21:07:50.547   132.   0 days 00:00:45.479000
836902 2022-06-18 21:08:37.317   132.   0 days 00:00:46.770000

In [72]:
check4.mozaic.nunique()

15

In [ ]:
# 5 date check 2022-06-19 01:19:24.403

In [69]:
check5 = gateway[(gateway['date'] < '2022-06-19 01:19:24.403') & (gateway['date'] > '2022-06-19 01:17:24.403') 
          & (gateway['stored'] == 'Stored') & (gateway['mozaic'] != 'from')]
check5 = check5.sort_values(['mozaic', 'date'],  ascending = [True, True])
check5 = check5[['dt', 'mozaic']]
check5['date_diff'] = check5['dt'].diff()
check5

                            dt mozaic                date_diff
863589 2022-06-19 01:17:35.903   104.                      NaT
863692 2022-06-19 01:18:32.972   104.   0 days 00:00:57.069000
863596 2022-06-19 01:17:41.516   106. -1 days +23:59:08.544000
863700 2022-06-19 01:18:38.627   106.   0 days 00:00:57.111000
863602 2022-06-19 01:17:45.695   107. -1 days +23:59:07.068000
863705 2022-06-19 01:18:42.793   107.   0 days 00:00:57.098000
863667 2022-06-19 01:18:16.557   120. -1 days +23:59:33.764000
863745 2022-06-19 01:19:13.681   120.   0 days 00:00:57.124000
863674 2022-06-19 01:18:19.358   121. -1 days +23:59:05.677000
863748 2022-06-19 01:19:16.491   121.   0 days 00:00:57.133000
863736 2022-06-19 01:19:06.662   122. -1 days +23:59:50.171000
863650 2022-06-19 01:18:12.342   123. -1 days +23:59:05.680000
863739 2022-06-19 01:19:09.484   123.   0 days 00:00:57.142000
863580 2022-06-19 01:17:29.318   124. -1 days +23:58:19.834000
863683 2022-06-19 01:18:26.373   124.   0 days 00:00:57.055000
863772 2022-06-19 01:19:23.502   124.   0 days 00:00:57.129000
863625 2022-06-19 01:18:01.163   126. -1 days +23:58:37.661000
863725 2022-06-19 01:18:58.305   126.   0 days 00:00:57.142000
863606 2022-06-19 01:17:48.504   127. -1 days +23:58:50.199000
863709 2022-06-19 01:18:45.594   127.   0 days 00:00:57.090000
863577 2022-06-19 01:17:26.484   128. -1 days +23:58:40.890000
863681 2022-06-19 01:18:23.636   128.   0 days 00:00:57.152000
863770 2022-06-19 01:19:20.718   128.   0 days 00:00:57.082000
863639 2022-06-19 01:18:08.143   129. -1 days +23:58:47.425000
863734 2022-06-19 01:19:05.282   129.   0 days 00:00:57.139000
863729 2022-06-19 01:19:01.088   130. -1 days +23:59:55.806000
863616 2022-06-19 01:17:55.507   131. -1 days +23:58:54.419000
863719 2022-06-19 01:18:52.654   131.   0 days 00:00:57.147000
863619 2022-06-19 01:17:58.328   132. -1 days +23:59:05.674000
863722 2022-06-19 01:18:55.482   132.   0 days 00:00:57.154000

In [71]:
check5.mozaic.nunique()

15

In [ ]:
# 6 date check 2022-06-19 02:21:30.669

In [70]:
check6 = gateway[(gateway['date'] < '2022-06-19 02:21:30.669') & (gateway['date'] > '2022-06-19 02:19:30.669') 
          & (gateway['stored'] == 'Stored') & (gateway['mozaic'] != 'from')]
check6 = check6.sort_values(['mozaic', 'date'],  ascending = [True, True])
check6 = check6[['dt', 'mozaic']]
check6['date_diff'] = check6['dt'].diff()
check6

                            dt mozaic                date_diff
869888 2022-06-19 02:20:04.489   104.                      NaT
869896 2022-06-19 02:20:10.612   106.   0 days 00:00:06.123000
869900 2022-06-19 02:20:13.489   107.   0 days 00:00:02.877000
870015 2022-06-19 02:21:14.588   107.   0 days 00:01:01.099000
869843 2022-06-19 02:19:41.941   120. -1 days +23:58:27.353000
869866 2022-06-19 02:19:47.959   121.   0 days 00:00:06.018000
869838 2022-06-19 02:19:36.437   122. -1 days +23:59:48.478000
869933 2022-06-19 02:20:37.522   122.   0 days 00:01:01.085000
869841 2022-06-19 02:19:39.449   123. -1 days +23:59:01.927000
869936 2022-06-19 02:20:41.535   123.   0 days 00:01:02.086000
869882 2022-06-19 02:19:59.998   124. -1 days +23:59:18.463000
869916 2022-06-19 02:20:25.518   126.   0 days 00:00:25.520000
870031 2022-06-19 02:21:28.098   126.   0 days 00:01:02.580000
869901 2022-06-19 02:20:14.976   127. -1 days +23:58:46.878000
870018 2022-06-19 02:21:17.567   127.   0 days 00:01:02.591000
869874 2022-06-19 02:19:53.962   128. -1 days +23:58:36.395000
869833 2022-06-19 02:19:31.940   129. -1 days +23:59:37.978000
869929 2022-06-19 02:20:34.514   129.   0 days 00:01:02.574000
869923 2022-06-19 02:20:30.012   130. -1 days +23:59:55.498000
869909 2022-06-19 02:20:19.486   131. -1 days +23:59:49.474000
870022 2022-06-19 02:21:20.567   131.   0 days 00:01:01.081000
869910 2022-06-19 02:20:20.990   132. -1 days +23:59:00.423000
870025 2022-06-19 02:21:23.588   132.   0 days 00:01:02.598000

In [73]:
check6.mozaic.nunique()

15

In [ ]:
# 7 date check 2022-06-19 02:55:07.431

In [74]:
check7 = gateway[(gateway['date'] < '2022-06-19 02:55:07.431') & (gateway['date'] > '2022-06-19 02:53:07.431') 
          & (gateway['stored'] == 'Stored') & (gateway['mozaic'] != 'from')]
check7 = check7.sort_values(['mozaic', 'date'],  ascending = [True, True])
check7 = check7[['dt', 'mozaic']]
check7['date_diff'] = check7['dt'].diff()
check7

                            dt mozaic                date_diff
873322 2022-06-19 02:54:24.292   104.                      NaT
873207 2022-06-19 02:53:17.612   106. -1 days +23:58:53.320000
873323 2022-06-19 02:54:25.868   106.   0 days 00:01:08.256000
873218 2022-06-19 02:53:26.594   107. -1 days +23:59:00.726000
873334 2022-06-19 02:54:34.956   107.   0 days 00:01:08.362000
873298 2022-06-19 02:54:05.020   120. -1 days +23:59:30.064000
873306 2022-06-19 02:54:11.491   121.   0 days 00:00:06.471000
873290 2022-06-19 02:53:57.055   122. -1 days +23:59:45.564000
873295 2022-06-19 02:54:01.841   123.   0 days 00:00:04.786000
873196 2022-06-19 02:53:11.174   124. -1 days +23:59:09.333000
873316 2022-06-19 02:54:19.471   124.   0 days 00:01:08.297000
873276 2022-06-19 02:53:45.828   126. -1 days +23:59:26.357000
873370 2022-06-19 02:54:52.560   126.   0 days 00:01:06.732000
873224 2022-06-19 02:53:31.421   127. -1 days +23:58:38.861000
873340 2022-06-19 02:54:39.738   127.   0 days 00:01:08.317000
873312 2022-06-19 02:54:16.277   128. -1 days +23:59:36.539000
873283 2022-06-19 02:53:52.236   129. -1 days +23:59:35.959000
873281 2022-06-19 02:53:50.655   130. -1 days +23:59:58.419000
873378 2022-06-19 02:54:58.959   130.   0 days 00:01:08.304000
873231 2022-06-19 02:53:37.818   131. -1 days +23:58:38.859000
873362 2022-06-19 02:54:46.117   131.   0 days 00:01:08.299000
873235 2022-06-19 02:53:41.013   132. -1 days +23:58:54.896000
873366 2022-06-19 02:54:49.371   132.   0 days 00:01:08.358000

In [75]:
check7.mozaic.nunique()

15

In [76]:
# 8 date check 2022-06-19 02:55:07.431

In [82]:
check8 = gateway[(gateway['date'] < '2022-06-19 02:55:07.431') & (gateway['date'] > '2022-06-19 02:53:07.431') 
          & (gateway['stored'] == 'Stored') & (gateway['mozaic'] != 'from')]
check8 = check8.sort_values(['mozaic', 'date'],  ascending = [True, True])
check8 = check8[['dt', 'mozaic']]
check8['date_diff'] = check8['dt'].diff()
check8

                            dt mozaic                date_diff
873322 2022-06-19 02:54:24.292   104.                      NaT
873207 2022-06-19 02:53:17.612   106. -1 days +23:58:53.320000
873323 2022-06-19 02:54:25.868   106.   0 days 00:01:08.256000
873218 2022-06-19 02:53:26.594   107. -1 days +23:59:00.726000
873334 2022-06-19 02:54:34.956   107.   0 days 00:01:08.362000
873298 2022-06-19 02:54:05.020   120. -1 days +23:59:30.064000
873306 2022-06-19 02:54:11.491   121.   0 days 00:00:06.471000
873290 2022-06-19 02:53:57.055   122. -1 days +23:59:45.564000
873295 2022-06-19 02:54:01.841   123.   0 days 00:00:04.786000
873196 2022-06-19 02:53:11.174   124. -1 days +23:59:09.333000
873316 2022-06-19 02:54:19.471   124.   0 days 00:01:08.297000
873276 2022-06-19 02:53:45.828   126. -1 days +23:59:26.357000
873370 2022-06-19 02:54:52.560   126.   0 days 00:01:06.732000
873224 2022-06-19 02:53:31.421   127. -1 days +23:58:38.861000
873340 2022-06-19 02:54:39.738   127.   0 days 00:01:08.317000
873312 2022-06-19 02:54:16.277   128. -1 days +23:59:36.539000
873283 2022-06-19 02:53:52.236   129. -1 days +23:59:35.959000
873281 2022-06-19 02:53:50.655   130. -1 days +23:59:58.419000
873378 2022-06-19 02:54:58.959   130.   0 days 00:01:08.304000
873231 2022-06-19 02:53:37.818   131. -1 days +23:58:38.859000
873362 2022-06-19 02:54:46.117   131.   0 days 00:01:08.299000
873235 2022-06-19 02:53:41.013   132. -1 days +23:58:54.896000
873366 2022-06-19 02:54:49.371   132.   0 days 00:01:08.358000

In [83]:
check8.mozaic.nunique()

15

In [79]:
# 9 date check 2022-06-19 03:28:34.982

In [80]:
check9 = gateway[(gateway['date'] < '2022-06-19 03:28:34.982') & (gateway['date'] > '2022-06-19 03:26:34.982') 
          & (gateway['stored'] == 'Stored') & (gateway['mozaic'] != 'from')]
check9 = check9.sort_values(['mozaic', 'date'],  ascending = [True, True])
check9 = check9[['dt', 'mozaic']]
check9['date_diff'] = check9['dt'].diff()
check9

                            dt mozaic                date_diff
876359 2022-06-19 03:26:53.910   104.                      NaT
876490 2022-06-19 03:28:08.122   104.   0 days 00:01:14.212000
876365 2022-06-19 03:26:57.335   106. -1 days +23:58:49.213000
876494 2022-06-19 03:28:11.554   106.   0 days 00:01:14.219000
876370 2022-06-19 03:27:02.425   107. -1 days +23:58:50.871000
876499 2022-06-19 03:28:16.689   107.   0 days 00:01:14.264000
876333 2022-06-19 03:26:35.135   120. -1 days +23:58:18.446000
876468 2022-06-19 03:27:49.435   120.   0 days 00:01:14.300000
876338 2022-06-19 03:26:38.615   121. -1 days +23:58:49.180000
876472 2022-06-19 03:27:52.826   121.   0 days 00:01:14.211000
876454 2022-06-19 03:27:37.507   122. -1 days +23:59:44.681000
876461 2022-06-19 03:27:42.625   123.   0 days 00:00:05.118000
876353 2022-06-19 03:26:48.771   124. -1 days +23:59:06.146000
876482 2022-06-19 03:28:01.360   124.   0 days 00:01:12.589000
876438 2022-06-19 03:27:27.562   126. -1 days +23:59:26.202000
876382 2022-06-19 03:27:11.947   127. -1 days +23:59:44.385000
876525 2022-06-19 03:28:26.203   127.   0 days 00:01:14.256000
876346 2022-06-19 03:26:43.657   128. -1 days +23:58:17.454000
876478 2022-06-19 03:27:57.916   128.   0 days 00:01:14.259000
876383 2022-06-19 03:27:13.647   131. -1 days +23:59:15.731000
876527 2022-06-19 03:28:27.910   131.   0 days 00:01:14.263000
876429 2022-06-19 03:27:22.205   132. -1 days +23:58:54.295000
876535 2022-06-19 03:28:34.714   132.   0 days 00:01:12.509000

In [81]:
check9.mozaic.nunique()

13

In [84]:
# 10 date check 2022-06-19 03:59:33.40

In [92]:
check10 = gateway[(gateway['date'] < '2022-06-19 03:59:33.40') & (gateway['date'] > '2022-06-19 03:57:33.40') 
          & (gateway['stored'] == 'Stored') & (gateway['mozaic'] != 'from')]
check10 = check10.sort_values(['mozaic', 'date'],  ascending = [True, True])
check10 = check10[['dt', 'mozaic']]
check10['date_diff'] = check10['dt'].diff()
check10

                            dt mozaic                date_diff
879183 2022-06-19 03:57:44.978   104.                      NaT
879326 2022-06-19 03:59:05.342   104.   0 days 00:01:20.364000
879222 2022-06-19 03:57:50.371   106. -1 days +23:58:45.029000
879332 2022-06-19 03:59:10.727   106.   0 days 00:01:20.356000
879227 2022-06-19 03:57:53.989   107. -1 days +23:58:43.262000
879334 2022-06-19 03:59:12.539   107.   0 days 00:01:18.550000
879271 2022-06-19 03:58:34.715   122. -1 days +23:59:22.176000
879280 2022-06-19 03:58:41.932   123.   0 days 00:00:07.217000
879181 2022-06-19 03:57:43.140   124. -1 days +23:59:01.208000
879322 2022-06-19 03:59:01.728   124.   0 days 00:01:18.588000
879255 2022-06-19 03:58:20.277   126. -1 days +23:59:18.549000
879235 2022-06-19 03:58:01.188   127. -1 days +23:59:40.911000
879345 2022-06-19 03:59:19.731   127.   0 days 00:01:18.543000
879171 2022-06-19 03:57:34.187   128. -1 days +23:58:14.456000
879312 2022-06-19 03:58:52.715   128.   0 days 00:01:18.528000
879265 2022-06-19 03:58:29.302   129. -1 days +23:59:36.587000
879260 2022-06-19 03:58:23.867   130. -1 days +23:59:54.565000
879241 2022-06-19 03:58:06.604   131. -1 days +23:59:42.737000
879354 2022-06-19 03:59:25.169   131.   0 days 00:01:18.565000
879247 2022-06-19 03:58:13.006   132. -1 days +23:58:47.837000

In [93]:
check10.mozaic.nunique()

13

In [94]:
# 11 date check 2022-06-19 04:21:23.870

In [95]:
check11 = gateway[(gateway['date'] < '2022-06-19 04:21:23.870') & (gateway['date'] > '2022-06-19 04:19:23.870') 
          & (gateway['stored'] == 'Stored') & (gateway['mozaic'] != 'from')]
check11 = check11.sort_values(['mozaic', 'date'],  ascending = [True, True])
check11 = check11[['dt', 'mozaic']]
check11['date_diff'] = check11['dt'].diff()
check11

                            dt mozaic                date_diff
881140 2022-06-19 04:19:36.980   104.                      NaT
881288 2022-06-19 04:21:03.741   104.   0 days 00:01:26.761000
881142 2022-06-19 04:19:38.897   106. -1 days +23:58:35.156000
881291 2022-06-19 04:21:07.550   106.   0 days 00:01:28.653000
881185 2022-06-19 04:19:46.544   107. -1 days +23:58:38.994000
881295 2022-06-19 04:21:11.360   107.   0 days 00:01:24.816000
881244 2022-06-19 04:20:38.932   120. -1 days +23:59:27.572000
881249 2022-06-19 04:20:44.639   121.   0 days 00:00:05.707000
881233 2022-06-19 04:20:29.376   122. -1 days +23:59:44.737000
881238 2022-06-19 04:20:33.203   123.   0 days 00:00:03.827000
881136 2022-06-19 04:19:33.182   124. -1 days +23:58:59.979000
881281 2022-06-19 04:20:57.940   124.   0 days 00:01:24.758000
881213 2022-06-19 04:20:10.373   126. -1 days +23:59:12.433000
881194 2022-06-19 04:19:52.236   127. -1 days +23:59:41.863000
881301 2022-06-19 04:21:17.061   127.   0 days 00:01:24.825000
881273 2022-06-19 04:20:50.371   128. -1 days +23:59:33.310000
881223 2022-06-19 04:20:19.885   129. -1 days +23:59:29.514000
881219 2022-06-19 04:20:16.061   130. -1 days +23:59:56.176000
881200 2022-06-19 04:19:57.963   131. -1 days +23:59:41.902000
881307 2022-06-19 04:21:22.788   131.   0 days 00:01:24.825000
881209 2022-06-19 04:20:06.567   132. -1 days +23:58:43.779000

In [96]:
check11.mozaic.nunique()

15

In [97]:
# 12 date check 2022-06-19 04:38:16.916

In [98]:
check12 = gateway[(gateway['date'] < '2022-06-19 04:21:23.870') & (gateway['date'] > '2022-06-19 04:19:23.870') 
          & (gateway['stored'] == 'Stored') & (gateway['mozaic'] != 'from')]
check12 = check12.sort_values(['mozaic', 'date'],  ascending = [True, True])
check12 = check12[['dt', 'mozaic']]
check12['date_diff'] = check12['dt'].diff()
check12

                            dt mozaic                date_diff
881140 2022-06-19 04:19:36.980   104.                      NaT
881288 2022-06-19 04:21:03.741   104.   0 days 00:01:26.761000
881142 2022-06-19 04:19:38.897   106. -1 days +23:58:35.156000
881291 2022-06-19 04:21:07.550   106.   0 days 00:01:28.653000
881185 2022-06-19 04:19:46.544   107. -1 days +23:58:38.994000
881295 2022-06-19 04:21:11.360   107.   0 days 00:01:24.816000
881244 2022-06-19 04:20:38.932   120. -1 days +23:59:27.572000
881249 2022-06-19 04:20:44.639   121.   0 days 00:00:05.707000
881233 2022-06-19 04:20:29.376   122. -1 days +23:59:44.737000
881238 2022-06-19 04:20:33.203   123.   0 days 00:00:03.827000
881136 2022-06-19 04:19:33.182   124. -1 days +23:58:59.979000
881281 2022-06-19 04:20:57.940   124.   0 days 00:01:24.758000
881213 2022-06-19 04:20:10.373   126. -1 days +23:59:12.433000
881194 2022-06-19 04:19:52.236   127. -1 days +23:59:41.863000
881301 2022-06-19 04:21:17.061   127.   0 days 00:01:24.825000
881273 2022-06-19 04:20:50.371   128. -1 days +23:59:33.310000
881223 2022-06-19 04:20:19.885   129. -1 days +23:59:29.514000
881219 2022-06-19 04:20:16.061   130. -1 days +23:59:56.176000
881200 2022-06-19 04:19:57.963   131. -1 days +23:59:41.902000
881307 2022-06-19 04:21:22.788   131.   0 days 00:01:24.825000
881209 2022-06-19 04:20:06.567   132. -1 days +23:58:43.779000

In [99]:
check12.mozaic.nunique()

15

In [100]:
# 13 date check 2022-06-19 04:54:23.941

In [103]:
check13 = gateway[(gateway['date'] < '2022-06-19 04:54:23.941') & (gateway['date'] > '2022-06-19 04:52:23.941') 
          & (gateway['stored'] == 'Stored') & (gateway['mozaic'] != 'from')]
check13 = check13.sort_values(['mozaic', 'date'],  ascending = [True, True])
check13 = check13[['dt', 'mozaic']]
check13['date_diff'] = check13['dt'].diff()
check13

                            dt mozaic                date_diff
883951 2022-06-19 04:52:34.447   104.                      NaT
884084 2022-06-19 04:54:12.267   104.   0 days 00:01:37.820000
883954 2022-06-19 04:52:38.650   106. -1 days +23:58:26.383000
884089 2022-06-19 04:54:16.442   106.   0 days 00:01:37.792000
883959 2022-06-19 04:52:42.878   107. -1 days +23:58:26.436000
884095 2022-06-19 04:54:22.746   107.   0 days 00:01:39.868000
884049 2022-06-19 04:53:46.992   120. -1 days +23:59:24.246000
884053 2022-06-19 04:53:51.215   121.   0 days 00:00:04.223000
884061 2022-06-19 04:53:59.620   124.   0 days 00:00:08.405000
883974 2022-06-19 04:52:57.590   126. -1 days +23:58:57.970000
883963 2022-06-19 04:52:47.074   127. -1 days +23:59:49.484000
884057 2022-06-19 04:53:55.398   128.   0 days 00:01:08.324000
883992 2022-06-19 04:53:14.456   130. -1 days +23:59:19.058000
883970 2022-06-19 04:52:53.376   131. -1 days +23:59:38.920000
883972 2022-06-19 04:52:55.479   132.   0 days 00:00:02.103000

In [104]:
check13.mozaic.nunique()

12

In [ ]:
# gateway diff chech 18, 19, 20.06

C:\Users\Dell\AppData\Local\Temp\ipykernel_2336\2507043014.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gateway['date_diff'] = gateway['dt'].diff()

In [129]:

gateway = gateway.sort_values(['mozaic', 'date'],  ascending = [True, True])
gateway['date_diff'] = gateway['dt'].diff()
gateway = gateway[['date', 'mozaic',  'date_diff']]
gateway

                            date mozaic              date_diff
825136   2022-06-18 19:31:06.944   104.                    NaT
834430   2022-06-18 20:47:39.288   104. 0 days 01:16:32.344000
866877   2022-06-19 01:50:52.324   104. 0 days 05:03:13.036000
867321   2022-06-19 01:55:04.130   104. 0 days 00:04:11.806000
870082   2022-06-19 02:22:11.187   104. 0 days 00:27:07.057000
...                          ...    ...                    ...
1034058  2022-06-20 09:28:03.203   132. 0 days 00:15:23.465000
1034350  2022-06-20 09:31:27.945   132. 0 days 00:03:24.742000
1034651  2022-06-20 09:34:52.740   132. 0 days 00:03:24.795000
1036413  2022-06-20 09:55:26.497   132. 0 days 00:20:33.757000
1036730  2022-06-20 09:58:51.207   132. 0 days 00:03:24.710000

[2333 rows x 3 columns]

In [130]:
gateway = gateway[(gateway['date_diff'] > '0 days 00:02:00.00')]
gateway

                            date mozaic              date_diff
834430   2022-06-18 20:47:39.288   104. 0 days 01:16:32.344000
866877   2022-06-19 01:50:52.324   104. 0 days 05:03:13.036000
867321   2022-06-19 01:55:04.130   104. 0 days 00:04:11.806000
870082   2022-06-19 02:22:11.187   104. 0 days 00:27:07.057000
870845   2022-06-19 02:30:37.453   104. 0 days 00:08:26.266000
...                          ...    ...                    ...
1034058  2022-06-20 09:28:03.203   132. 0 days 00:15:23.465000
1034350  2022-06-20 09:31:27.945   132. 0 days 00:03:24.742000
1034651  2022-06-20 09:34:52.740   132. 0 days 00:03:24.795000
1036413  2022-06-20 09:55:26.497   132. 0 days 00:20:33.757000
1036730  2022-06-20 09:58:51.207   132. 0 days 00:03:24.710000

[2318 rows x 3 columns]

In [131]:
gateway.to_csv('gate_all_check.csv')